<ion-view view-title="Detalles de recibo">
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Número</span>
                <p>Número de recibo</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Fecha</span>
                <p>Fecha</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Pagado a</span>
                <p>Pagado a</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Concepto</span>
                <p>Concepto</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Valor</span>
                <p>Valor</p>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Valor en letras</span>
                <p>Valor en letras</p>
            </label>
        </div>
    </ion-content>
</ion-view>
