<ion-view view-title="Ultimos recibos de caja">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img/logo.png">
                <h2>Cliente</h2>
                <p>Fecha</p>
                <p>Valor</p>
            </div>
            <button class="button button-clear" ng-click="DetalleRecibo()">Detalles</button>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img/logo.png">
                <h2>Cliente</h2>
                <p>Fecha</p>
                <p>Valor</p>
            </div>
            <button class="button button-clear" ng-click="DetalleRecibo()">Detalles</button>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="img/logo.png">
                <h2>Cliente</h2>
                <p>Fecha</p>
                <p>Valor</p>
            </div>
            <button class="button button-clear" ng-click="DetalleRecibo()">Detalles</button>
        </div>
    </ion-content>
    <div class="bar bar-footer">
            <button class="button button-clear" ng-click="NuevoRecibo()">Nuevo</button>
            <button class="button button-clear" ng-click="showPopup()">Búsqueda Avanzada</button>
        </div>
</ion-view>
