<ion-view view-title="Nuevo recibo de caja menor">
    <ion-content>
        <ion-item >
            <div class="list">
                <from name="formNuevoRecibo">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Número</span>
                        <input type="number" placeholder="000000">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Fecha</span>
                        <input type="date" placeholder="000001">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Pagado a</span>
                        <input type="text" placeholder="Persona a la que se realiza el pago">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Concepto</span>
                        <textarea placeholder="Pago realizado por: "></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Valor</span>
                        <input type="number" placeholder="Monto que se cancela">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Valor en letras</span>
                        <input type="number" placeholder="Monto que se cancela en letras">
                    </label>
                    <br>
                    <button class="button button-block button-positive">Registrar</button>
                </from>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
